.containerMiddleBar
{
    display: flex;
    justify-content: center;
}

.containerMiddleBar .middleBar
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Whitney-Book';
    font-weight: lighter;
    font-size: 0.8rem;
    margin: auto;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;

}

.containerMiddleBar .middleBar div
{
    border-right: 1px solid grey;
    padding-right: 1.3em;
    padding-left: 1.3em;
    margin-top: 2rem;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.containerMiddleBar .middleBar div a
{
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
}
