.firstImg {
  /* position: relative; */
  width: 100%;
  height: 100vh;
  background-image: url("/images/galeriepage/01.jpg");
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  margin-bottom: 0.4vw;
}

.leftContentImg {
  /* position: relative; */
  width: 100%;
  height: 100vh;
  background-image: url("/images/galeriepage/02.jpg");
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat !important;
  background-position: right !important;
}

.rightContentImg {
  /* position: relative; */
  width: 100%;
  height: 100vh;
  background-image: url("/images/galeriepage/03.jpg");
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat !important;
  background-position: top !important;
}

.containerSecondImg {
  display: flex;
  justify-content: space-between;
}

.containerSecondImg .leftContentImg {
  width: 49.8vw;
}

.containerSecondImg .rightContentImg {
  width: 49.8vw;
}

.secondImg {
  /* position: relative; */
  width: 100%;
  height: 100vh;
  background-image: url("/images/galeriepage/04.jpg");
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  margin-top: 0.4vw;
  margin-bottom: 0.4vw;
}

.thirdImg {
  /* position: relative; */
  width: 100%;
  height: 100vh;
  background-image: url("/images/galeriepage/05.jpg");
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

/* ANIMATION */

.overlayFirstImg {
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  background-color: #faf9f8;
}

.overlayLeftContent {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #faf9f8;
}

.overlayRightContent {
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  background-color: #faf9f8;
}

/* END ANIMATION */

/* iPhone X */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .firstImg {
    height: 26vh !important;
    background-size: contain;
    margin-top: 50px;
  }
  .containerSecondImg {
    flex-wrap: wrap !important;
  }
  .containerSecondImg .leftContentImg {
    height: 56vh;
    width: 100vw !important;
  }
  .containerSecondImg .rightContentImg {
    height: 56vh;
    width: 100vw !important;
  }
  .secondImg {
    height: 26vh !important;
    background-size: contain;
  }
  .thirdImg {
    height: 26vh !important;
    background-size: contain;
  }
}

/* Other mobile device */

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .firstImg {
    height: 32vh;
    margin-top: 50px;
  }
  .containerSecondImg {
    flex-wrap: wrap !important;
  }
  .containerSecondImg .leftContentImg {
    height: 56vh;
    width: 100vw !important;
  }
  .containerSecondImg .rightContentImg {
    height: 56vh;
    width: 100vw !important;
    margin-top: 2px;
  }

  .secondImg {
    height: 32vh;
  }
  .thirdImg {
    height: 32vh;
  }
}

/* iPad */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .firstImg {
    height: 42vh !important;
    background-size: cover;
    margin-top: 50px;
  }
  .containerSecondImg {
    flex-wrap: wrap !important;
  }
  .containerSecondImg .leftContentImg {
    height: 75vh;
    width: 100vw !important;
  }
  .containerSecondImg .rightContentImg {
    height: 75vh;
    width: 100vw !important;
  }
  .secondImg {
    height: 42vh !important;
    background-size: cover;
  }
  .thirdImg {
    height: 42vh !important;
    background-size: cover;
  }
}
