a {
  text-decoration: none;
  color: #cccccc;
  margin-top: 1rem;
}

.bigImg {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("contact.jpg");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  /* background-position: center center !important; */
}

.bigImg .containerText {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60%;
  left: 60%;
  font-family: "AvenirNextLTPro-Regular";
  font-size: 14px;
  line-height: 180%;
  color: rgba(0, 0, 0, 0.856);
  font-weight: bold;
}

.bigImg .containerText .containerLogos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-top: 1rem; */
}
.contactSpan {
  color: rgba(0, 0, 0, 0.856);
}

.bigImg .containerText .containerLogos svg {
  width: 25px;
  fill: #990000;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .bigImg .containerText {
    top: 10%;
    left: 30%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .bigImg .containerText {
    top: 10%;
    left: 30%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .bigImg .containerText {
    top: 10%;
    left: 30%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .bigImg .containerText {
    top: 10%;
    left: 30%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}
/* 
@media only screen and (min-width: 1920px) {
  .bigImg .containerText {
    top: 65%;
  }
}

@media only screen and (min-width: 1400px) {
  .bigImg .containerText {
    top: 65%;
    left: 55%;
  }
} */
