.containerHeader .header
{
    margin: auto;
    width: 80vw;
    border-top: 1px solid #DFE0E1;
    border-bottom: 1px solid #DFE0E1;
}

.bigContainer p
{
    font-family: 'Whitney-Book';
    font-size: 1.2rem;  
    line-height: 150%;
    text-align: justify;
}

.bigContainer h2
{
    color: #851314;
    text-transform: uppercase;
    font-family: 'Whitney-Medium';
    font-size: 1.2rem;
}

.containerHeader .header p
{
    font-family: 'Whitney-Medium';
    font-size: 1.2rem;
    font-weight: lighter;
    letter-spacing: 0.2px;
    color: #666666;
    padding: 2% 0;
}

.bigContainer .section
{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-top: 2%;
}

.bigContainer .section .rightContent
{
    width: 50vw;
    max-height: 80vh;
}



.bigContainer .section .rightContent img
{
    width: auto;
    max-width: 100%;
    max-height: 80vh;
}

.bigContainer .section .leftContent p
{
    max-width: 30vw;
}

.bigContainer .section .logoLabelImage
{

    width: 20vw;
    max-height: 80vh;
}

.bigContainer .section .logoLabelImage img
{
    width: auto;
    max-width: 100%;
}

.bigContainer .sectionBottom
{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    flex-wrap: wrap;
    margin-right: 10%;
    margin-top: 2%;
}

.bigContainer .sectionBottom .textIntro
{
    margin-left: 10%;
    margin-bottom: 2%;
}

.bigContainer .sectionBottom .leftContentBottom
{
    width: 50vw;
    max-height: 80vh;
}



.bigContainer .sectionBottom .leftContentBottom img
{
    width: auto;
    max-width: 100%;
    max-height: 80vh;
}


.bigContainer .sectionBottom .rightContentBottom
{
    max-width: 30vw;
}

.bigContainer .sectionBottom .textEnd
{
    margin-left: 10%;
}

@media only screen and (min-width : 320px) and (max-width: 1024px)
{
    .bigContainer .section
    {
        flex-direction: column;
    }
    .bigContainer .section .leftContent p
    {
        max-width: 80vw;
    }
    .bigContainer .section .leftContent h2
    {
        max-width: 80vw;
    }
    .bigContainer .section .rightContent 
    {
        width: 80vw;
    }
    .bigContainer .section .logoLabelImage
    {
        width: 80vw;
    }
    .bigContainer .sectionBottom
    {
        flex-direction: column;

    }


    .bigContainer .sectionBottom .leftContentBottom
    {
        width: 80vw;
        margin-left: 10%;
        padding: 5% 0;
    }

    .bigContainer .sectionBottom .rightContent
    {
        width: 80vw;
    }
    .bigContainer .sectionBottom .rightContentBottom
    {
        max-width: 100%;
        margin-left: 10%;
    }
    .bigContainer .sectionBottom .rightContentBottom p
    {
        max-width: 80vw; 
    }
    .bigContainer .sectionBottom .rightContentBottom h2
    {
        max-width: 80vw; 
    }
}