h1, h2 {
    margin: 0;
    text-transform: none !important;
}

.slick-track .slick-list:first-child
{
    opacity: 1 !important;
}

.outerGallery {
    width: 100%; height: 100%;
    padding: 7vh 5vw 5vh 5vw;
    box-sizing: border-box;
}

.outerGallery .returnArrow
{
   position: absolute;
   cursor: pointer;
   width: 40px;
   z-index: 6;
}

/* .outerGallery .containerReturnArrow
{
    position: absolute;
    width: 500px;
    height: 500px;
    z-index: 7;
    cursor: pointer;
} */

@media only screen and (min-width : 320px) and (max-width: 812px)
{

    .outerGallery .returnArrow
    {
        position: absolute;
        max-width: 25px;
        top: 60px;
        left :8%;
    }

    .outerGallery
    {
        padding-top: 10vh !important;
        padding-left: 0vw;
        padding-right: 0vw;
    }


}

@media only screen and (min-width : 768px) and (max-width: 1023px)
{

    .outerGallery .returnArrow
    {
        position: absolute;
        max-width: 25px;
        top: 90px;
    }

}
