h1,
h2 {
  margin: 0;
  text-transform: none !important;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.slick-track .slick-list:first-child {
  opacity: 1 !important;
}

.outerGallery {
  width: 100%;
  height: 100%;
  padding: 7vh 5vw 5vh 5vw;
  box-sizing: border-box;
}
/* 
.outerGallery .returnHomeArrow 
{
   position: absolute;
   cursor: pointer;
   width: 50px;
   z-index: 6;
} */

.containerHomeArrow {
  position: absolute;
  width: 60px;
  z-index: 100;
}

.containerHomeArrow svg {
  position: relative;
  left: 0px;
  width: 100%;
  transform: translate(-25%, -10%);
}

/* .outerGallery .returnHomeArrow 
{
   position: absolute;
   cursor: pointer;
   width: 50px;
   z-index: 6;
} */

/* .outerGallery .containerReturnArrow
{
    position: absolute;
    width: 500px;
    height: 500px;
    z-index: 7;
    cursor: pointer;
} */

@media only screen and (min-width: 320px) and (max-width: 780px) {
  .outerGallery .containerHomeArrow {
    width: 30px !important;
    left: 5%;
    top: 7%;
  }

  /* Le padding top 10vh pose probleme sur mobile car il gère mal les vh */
  .outerGallery {
    /* padding-top: 10vh !important; */
    /* padding-left: 0vw;
    padding-right: 0vw; */
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .outerGallery {
    padding-top: 10vw !important;
    /* padding-left: 0vw;
    padding-right: 0vw; */
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .outerGallery .containerHomeArrow {
    width: 40px;
    left: 5%;
    top: 7% !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .outerGallery {
    padding: 0 0 5vh 5vw;
  }
}

/* Ipad mode paysage */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .outerGallery .containerHomeArrow {
    width: 30px;
    left: 5%;
    top: 19%;
  }
}

/* iPad Pro - Portrait */

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .outerGallery .containerHomeArrow {
    width: 40px;
    left: 5%;
    top: 14%;
  }
}

@media only screen and (max-width: 1024px) {
  .outerGallery .containerHomeArrow {
    width: 40px;
  }
}
