/*
.featured_item
{
    position: relative;
    width: 700px;
}

.featured_image {
    max-width: 700px;
    height: 700px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-attachment: fixed;

} */

p
{
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}

.innerGallery
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}



.dataSlider,
.dataSlider .slick-slider {
    overflow: hidden;
}

.dataSlider {

  display: flex;
  flex-direction: column;
  height: 100%;

  align-self: flex-end;

}

.dataSlider .dataSlider_title span
{
    color:#660000;
}

.dataSlider h1
{

    font-family: 'AvenirNextLTPro-Regular';
    font-size: 1.2rem;
    font-weight: inherit;
}

.dataSlider h1 :last-child
{

    font-family: 'AvenirNextLTPro-Medium';
    font-size: 1.2rem;
    font-weight: inherit;
}

.dataSlider_title
{

    font-family: 'AvenirNextLTPro-Regular';
    font-size: 1.2rem;
    font-weight: inherit;

    /* margin-top: auto;
    margin-bottom: auto; */
}


.dataSlider_data {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: bottom;
}

.dataSlider p
{
    font-family: 'AvenirNextLTPro-Regular';
    font-weight: lighter;
    font-size: 0.8rem;
    line-height: 150%;
    color: #333333;
}

.dataSlider h2 {
    font-family: 'AvenirNextLTPro-UltLtIt';
    font-size: 1.1rem;
    color: #666666;

    /* Je sais pas mieux faire que ça, sinon il faut déplacer le h2 pour le mettre avec h1 */
    margin-bottom: 17vh;

    align-self: center;
}


/* .slick-slide p:last-child { */
.lastP {
    max-width: 25vw;
}

.imageSlider,
.imageSlider .slick-slider,
.imageSlider .slick-slide {
    width: 65%;
    max-height: 80vh;
}
.imageSlider .slick-list {
    width: 100%;
    overflow: visible;
}


.slickImg {
    width: auto;
    max-width: 100%;
    max-height: 80vh;
}
.imageSlider img {
    margin: 0 auto;
}

.slick-arrow {
    background: red !important;
    width: 40px; height: 40px;
}

.imageSlider .slick-dots li button:before
{
    content: " ";
    color: red !important;
}

.slick-dots li button:before {
    color: red !important;
    background-color: red !important;
}

/* .secondaryData
{
  margin-top: 15%;
}
              */


@media only screen and (min-width : 320px) and (max-width: 812px)
{

    .innerGallery
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dataSlider
    {
        width: 100%;
    }
    .dataSlider_title
    {
        text-align: center;
        /* padding-bottom: 5%; */
    }
    .imageSlider
    {
        width: 100%;
    }
    .lastP
    {
        max-width: 90%;
    }
    .dataSlider h2
    {
        text-align: center;
        max-width: 100%;
        padding-bottom: 0%;
        text-transform: none;
    }
    .burger
    {
        padding-bottom: 10%;
    }
    .returnArrow
    {
        position: absolute;
        width: 25px;
        left: 10px;
        top: 60px;
    }
    .arrowPrev
    {
        display: none !important;
    }
    .arrowNext
    {
        display: none !important;
    }
}

.arrowPrev:focus
{
    outline-width: 0;
}

.arrowNext:focus
{
    outline-width: 0;
}

.arrowNext
{
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 8px;
    cursor: pointer;
}

.arrowPrev
{
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 8px;
    cursor: pointer;
}

.dataSlider .dataSlider_title h1
{
    display: block;
    margin-top: auto !important;
}

@media only screen and (min-width : 813px){
    /* .dataSlider_title
    {
        position: absolute;
        top: 50%;
    }  */
    /* .dataSlider h2
    {
        position: absolute;
        top: 50%;
        padding-bottom: 0%;
    } */



}

@media only screen and (min-width : 700px) and (max-width: 1250px)
{
    .arrowPrev
    {
        top: -6% !important;
        left: 47%;
    }
    .arrowNext
    {
        top: -6% !important;
        left: 50%;
    }
}
