

.sliderWrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-height: 66vw;
}

.imageWrap,
.dataWrap {
    height: 100%;
}

.imageWrap {
  width: 55%;
  min-height: 75vh;
  max-height: 80vh;
  position: relative;
}
.imageWrap img{
  margin: 0;

  position: absolute;
  bottom: 0;
  height: 100%;
}

.dataWrap {
  align-self: flex-end;
  height: 42.5vh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}



.dataWrap h1
{
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 1.2rem;
    font-weight: inherit;
}

.dataWrap h1:last-child
{
    font-family: 'AvenirNextLTPro-Medium';
    font-size: 1.2rem;
    font-weight: inherit;
}

.data_title
{

    font-family: 'AvenirNextLTPro-Regular';
    font-size: 1.2rem;
    font-weight: inherit;
    margin-bottom: auto;
}
.data_title span{color:#660000;}



.dataWrap p
{
    font-family: 'AvenirNextLTPro-Regular';
    font-weight: lighter;
    font-size: 0.8rem;
    line-height: 150%;
    color: #333333;
}

.dataWrap h2 {
    font-family: 'AvenirNextLTPro-UltLtIt';
    font-size: 1.1rem;
    color: #666666;

    /* Je sais pas mieux faire que ça, sinon il faut déplacer le h2 pour le mettre avec h1 */
    /* margin-bottom: 100%; */

    /* align-self: center; */
}

.dataWrap p
{
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}



/*
.lastP {
    max-width: 25vw;
}

.imageSlider,
.imageSlider .slick-slider,
.imageSlider .slick-slide {
    width: 50%;
    max-height: 80vh;
}
.imageSlider .slick-list {
    width: 100%;
    overflow: visible;
} */

img.image {
    margin: 0 auto;
}





.controls {
  position: absolute;
  left: 0%;
  transform: translateX(-200%) translateY(-100%);
  top: 50%;
  z-index: 9999;
  cursor: pointer;
}

.controls .arrow
{
    border: solid #666666;
    opacity: 0.7;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 10px;
}

.controls :first-child
{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.controls :nth-child(2)
{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.counterSlide {
    font-family: 'AvenirNextLTPro-UltLtIt';
    font-size: 0.8rem;
    color: black;
    display: flex;
    position: absolute;
    transform: translateX(-300%);
    left: 0%;
    bottom: 0%;
    z-index: 9999;

  }


.slick-arrow {
    background: red !important;
    width: 40px; height: 40px;
}

.imageSlider .slick-dots li button:before
{
    content: " ";
    color: red !important;
}

.slick-dots li button:before {
    color: red !important;
    background-color: red !important;
}

/* .secondaryData
{
  margin-top: 15%;
}
              */


@media only screen and (min-width : 320px) and (max-width: 812px)
{

    .sliderWrap
    {
        flex-flow: column nowrap;
    }
    .sliderWrap .imageWrap img
    {
        padding-left: 3vw;
        padding-right: 3vw;
    }
} 

@media only screen and (min-width : 813px){
    /* .dataWraplider_title
    {
        position: absolute;
        top: 50%;
    }  */
    /* .dataSlider h2
    {
        position: absolute;
        top: 50%;
        padding-bottom: 0%;
    } */



}

/* @media only screen and (min-width : 700px) and (max-width: 1250px)
{
    .arrowPrev
    {
        top: -6% !important;
        left: 47%;
    }
    .arrowNext
    {
        top: -6% !important;
        left: 50%;
    }
} */


.example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }