/* 
.featured_item
{
    position: relative;
    width: 700px;
}

.featured_image {
    max-width: 700px;
    height: 700px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-attachment: fixed;

} */



.innerGallery 
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.innerGallery .returnArrow
{
   position: absolute;
   max-width: 33px;
}

.dataSlider,
.dataSlider .slick-slider {
    width: 45%;
    align-self: flex-end;
    overflow: hidden;
}

.dataSlider h1
{
    font-family: 'AvenirNextLTPro-Medium';
    font-size: 1.2rem;
    font-weight: inherit;
}


.dataSlider p
{
    font-family: 'AvenirNextLTPro-Regular';
    font-weight: lighter;
    font-size: 0.8rem;
    color: #333333;
}

.dataSlider h2 {
    margin-top: 2%;
    padding-bottom: 40%;
    font-family: 'AvenirNextLTPro-Italic';
    font-weight: lighter;
    font-size: 1rem;
    color: #666666;
}

.dataSlider .dataSlider_title
{
    display: flex;
    font-family: 'AvenirNextLTPro-Medium';
    font-size: 1.9rem;
}

.dataSlider .dataSlider_title :first-child
{
    color:#660000;
}

.dataSlider .dataSlider_title :first-child::after
{
    content: "";
    position: relative;
    border-right: 2px solid #660000;
    margin: 0 0.5em;
}

/* .slick-slide p:last-child { */
.lastP {
    max-width: 20vw;
}

.imageSlider,
.imageSlider .slick-slider,
.imageSlider .slick-slide {
    width: 65%;
    max-height: 80vh;
}
.imageSlider .slick-list {
    width: 100%;
    overflow: visible;
}

.slick-list .slick-track div
{
    opacity: 1 !important;
}

.slickImg {
    width: auto;
    max-width: 100%;
    max-height: 80vh;
}
.imageSlider img {
    margin: 0 auto;
    opacity: 1 !important;
}

.slick-arrow {
    background: red;
    width: 40px; height: 40px;
}

.imageSlider .slick-dots li button:before
{
    content: " ";
    color: red !important;
}

.slick-dots li button:before {
    color: red !important;
    background-color: red !important;
}



            
.containerArrowRight {
    
    position: absolute;
    position: fixed;
    top: 50%;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    z-index: 1000;
}            

            
.containerArrowLeft {
    position: absolute;
    top: 53.5%;
    left: 32%;
    position: fixed;


    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    z-index: 1000;
}      

.arrow {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: transparent;
    border-top: .4rem solid #666666;
    border-right: .4rem solid #666666;
    box-shadow: 0 0 0 lightgray;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
  }

  .arrow:hover {
    border-top: .4rem solid orange;
    border-right: .4rem solid orange;
    box-shadow: .2rem -.2rem 0 #666666;
  }
  /* .arrow:hover.left {
    left: -.2rem;
  }
  .arrow:hover.right {
    right: -.2rem;
  } */
  