* {
  box-sizing: border-box !important;
}

h1 {
  font-family: "Whitney-Medium";
  font-size: 1.3rem;
  font-weight: lighter;
  letter-spacing: 0.4px;
  color: #333333;
}

h2 {
  /* max-width: 30vw; */
  color: #993300;
  text-transform: uppercase;
  font-family: "Whitney-Medium";
  font-size: 1.2rem;
}

.bigContainer p {
  font-family: "Whitney-Light";
  font-size: 1.2rem;
  line-height: 150%;
  text-align: justify;
}

.bigContainer .titleSection {
  /* padding: 1.5vw 0; */
  padding-top: 2vw;
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
}

.titleSectionPlexicollage {
  padding-top: 0vw !important;
  padding-bottom: 2vw;
}

.bigContainer .titleSection h2 {
  margin-left: 10%;
}

.titleSectionPlexicollage h2 {
  margin-left: 10%;
}

.containerHeader .header {
  margin: auto;
  width: 80vw;
  text-align: center;
}

.containerHeader .header h1 {
  margin-bottom: 4vw;
}

/* FIRST SECTION */

.bigContainer .section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 80%;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-top: 2%;
}

.bigContainer .section .leftContent p {
  max-width: 38vw;
}

.bigContainer .section .containerImg {
  width: 40vw;
  /* width: 30vw; */
  max-height: 80vh;
}

.bigContainer .section .containerImg img {
  width: auto;
  max-width: 100%;
  max-height: 80vh;
}

.bigContainer .section .rightContent {
  /* width: 19vw; */
  width: 25vw;
  max-height: 80vh;
  text-align: center;
  margin-bottom: 3vw;
}

.bigContainer .section .rightContent img {
  width: auto;
  max-width: 100%;
  max-height: 80vh;
}

.bigContainer .infoSection p {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Whitney-Medium" !important;
  color: #333333;
}

.bigContainer .infoSectionBigImg p {
  margin-left: 10%;
  font-family: "Whitney-Medium" !important;
  font-size: 0.7rem !important;
  font-weight: 900 !important;
  color: #333333 !important;
}

.firstImgContainer {
  /* position: relative; */
  width: 100%;
  height: 100vh;
  background-image: url("/images/finitions/palmier.jpg");
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.overlayImgContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0;
}

.firstbigimgimg {
  width: 100vw;
  height: 100vh;
}

.secondImgContainer {
  /* position: relative; */
  width: 100%;
  height: 100vh;
  background-image: url("/images/finitions/lost.jpg");
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

/* SECOND SECTION */

.bigContainer .section .rightContentSecond {
  width: 35vw;
  max-height: 80vh;
  text-align: center;
  margin-bottom: 30px;
}

.bigContainer .section .rightContentSecond img {
  width: auto;
  max-width: 100%;
  max-height: 80vh;
}

.bigContainer .section .containerImgSecond {
  width: 40vw;
  max-height: 80vh;
  text-align: center;
}

.bigContainer .section .containerImgSecond img {
  width: auto;
  max-width: 100%;
  max-height: 80vh;
}

.bigContainer .section .leftContentSecond p {
  max-width: 37vw;
}

.thirdImgContainer {
  /* position: relative; */
  width: 100vw;
  height: 100vh;
  background-image: url("/images/finitions/firstsecondbigimg.jpg");
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat !important;
  background-position: top center !important;
}

.fourthImgContainer {
  /* position: relative; */
  width: 100vw;
  height: 100vh;
  background-image: url("/images/finitions/secondsecondbigimg.jpg");
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat !important;
  background-position: top center !important;
}

/* THIRD SECTION */

.containerPlexicollage {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  /* align-items: center; */
  position: relative;
  width: 80vw;
  margin-left: 10%;
}

.leftSectionPlexicollage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.rightSectionPlexicollage {
  width: 50%;
  text-align: center;
}

.rightSectionPlexicollage img {
  max-width: 80%;
}

.lastImgContainer {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/finitions/plexi1.jpg");
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.secondLastImgContainer {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/finitions/plexi2.jpg");
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.infoSectionPlexicollage {
  padding-top: 2vw;
}

.infoSectionPlexicollage p {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Whitney-Medium" !important;
  color: #333333;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .bigContainer .containerHeader {
    padding: 5% 0;
  }

  .infoSection {
    padding: 0 5%;
  }

  .bigContainer .section .leftContent {
    flex-direction: column;
  }

  .bigContainer .section .containerImg {
    width: 50vw;
    margin: auto;
  }

  .bigContainer .section .containerImgSecond {
    width: 80vw;
    margin: auto;
  }

  .bigContainer .section .leftContent h2 {
    max-width: 80vw;
  }
  .bigContainer .section .leftContent p {
    max-width: 80vw;
  }
  .bigContainer .section .leftContentSecond p {
    max-width: 80vw;
  }
  .bigContainer .section .rightContent {
    width: 80vw;
    text-align: center;
  }
  .bigContainer .section .rightContentSecond {
    width: 80vw;
    text-align: center;
  }
  .bigContainer .sectionBottom {
    flex-direction: column;
    max-width: 90vw !important;
  }
  .bigContainer .sectionBottom .leftContent {
    max-width: 80vw;
    margin-left: 0%;
  }
  .bigContainer .sectionBottom .leftContent h2 {
    max-width: 80vw;
  }
  .bigContainer .sectionBottom .leftContent p {
    max-width: 80vw;
  }
  .bigContainer .sectionBottom .rightContent {
    width: 80vw;
  }
  .bigContainer .sectionBottom .textEnd h2 {
    max-width: 80vw;
  }
  .bigContainer .sectionBottom .textEnd p {
    max-width: 80vw;
  }
  .containerPlexicollage .leftSectionPlexicollage {
    width: 100%;
  }
  .containerPlexicollage .rightSectionPlexicollage {
    width: 100%;
  }
}

/* @media screen and (min-width: 1400px) {
  .bigContainer .section .leftContent p {
    max-width: 23vw;
  }
  .bigContainer .section .rightContentSecond {
    text-align: right;
  }
  .bigContainer .section .leftContentSecond p {
    max-width: 23vw;
  }
  .leftSectionPlexicollage p {
    max-width: 25vw;
  }
} */

@media screen and (min-width: 1600px) {
  .bigContainer .section .leftContent p {
    max-width: 36vw;
  }
  .bigContainer .section .containerImgSecond {
    text-align: initial !important;
  }

  .rightContentSecond {
    text-align: right;
  }

  .bigContainer .section .leftContentSecond p {
    max-width: 39vw;
  }
  .leftSectionPlexicollage p {
    max-width: 25vw;
  }
}

@media screen and (min-width: 1900px) {
  .bigContainer .section .leftContent p {
    max-width: 34vw;
  }
  .bigContainer .section .rightContentSecond {
    text-align: right;
  }

  .bigContainer .section .rightContent {
    width: 23vw;
  }
  .bigContainer .section .leftContentSecond p {
    max-width: 37vw;
  }
  .leftSectionPlexicollage p {
    max-width: 25vw;
  }
}

@media screen and (min-width: 2000px) {
  .bigContainer .section .rightContent {
    width: 21.5vw;
  }
}

@media screen and (min-width: 2100px) {
  .bigContainer .section .leftContent p {
    max-width: 31vw;
  }

  .bigContainer .section .rightContent {
    width: 21vw;
  }
  .bigContainer .section .rightContentSecond {
    text-align: right;
  }
  .bigContainer .section .leftContentSecond p {
    max-width: 33vw;
  }
  .leftSectionPlexicollage p {
    max-width: 25vw;
  }
}
@media screen and (min-width: 2300px) {
  .bigContainer .section .leftContent p {
    max-width: 29vw;
  }
  .bigContainer .section .rightContentSecond {
    text-align: right;
  }
  .bigContainer .section .leftContentSecond p {
    max-width: 30vw;
  }
  .leftSectionPlexicollage p {
    max-width: 25vw;
  }
}

@media screen and (min-width: 2400px) {
  .bigContainer .section .leftContent p {
    max-width: 27vw;
  }
  .bigContainer .section .rightContentSecond {
    text-align: right;
  }
  .bigContainer .section .leftContentSecond p {
    max-width: 29vw;
  }
  .leftSectionPlexicollage p {
    max-width: 25vw;
  }
}

@media screen and (min-width: 2500px) {
  .bigContainer .section .leftContent p {
    max-width: 27vw;
  }
  .bigContainer .section .rightContentSecond {
    text-align: right;
  }
  .bigContainer .section .leftContentSecond p {
    max-width: 29vw;
  }
  .leftSectionPlexicollage p {
    max-width: 25vw;
  }
}
