body
{
    margin: 0;
    padding: 0;
    font-size: 10px;
}

html 
{
    font-size: 100%;
}

div:focus 
{
    outline-width: 0;
}



@font-face
{
    font-family: 'Whitney-Light';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Whitney-Light.eot'); /* IE9 Compat Modes */
    src: local('Whitney'), local('Whitney'),
         url('./fonts/Whitney-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/Whitney-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/Whitney-Light.woff') format('woff'), /* Modern Browsers */
         url('./fonts/Whitney-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/Whitney-Light.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face
{


    font-family: 'Whitney-Medium';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Whitney-Medium.eot'); /* IE9 Compat Modes */
    src: local('Whitney'), local('Whitney'),
        url('./fonts/Whitney-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./fonts/Whitney-Medium.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/Whitney-Medium.woff') format('woff'), /* Modern Browsers */
        url('./fonts/Whitney-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./fonts/Whitney-Medium.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face
{
    font-family: 'Whitney-Book';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Whitney-Book.eot'); /* IE9 Compat Modes */
    src: local('Whitney'), local('Whitney'),
        url('./fonts/Whitney-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./fonts/Whitney-Book.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/Whitney-Book.woff') format('woff'), /* Modern Browsers */
        url('./fonts/Whitney-Book.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./fonts/Whitney-Book.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face
{
    font-family: 'AvenirNextLTPro-Medium';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/AvenirNextLTPro-Medium.eot'); /* IE9 Compat Modes */
    src: local('AvenirNextLTPro-Medium'), local('AvenirNextLTPro-Medium'),
        url('./fonts/AvenirNextLTPro-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./fonts/AvenirNextLTPro-Medium.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/AvenirNextLTPro-Medium.woff') format('woff'), /* Modern Browsers */
        url('./fonts/AvenirNextLTPro-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./fonts/AvenirNextLTPro-Medium.svg') format('svg'); /* Legacy iOS */
}

@font-face
{
    font-family: 'AvenirNextLTPro-UltLt';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/AvenirNextLTPro-UltLt.eot'); /* IE9 Compat Modes */
    src: local('AvenirNextLTPro-UltLt'), local('AvenirNextLTPro-UltLt'),
        url('./fonts/AvenirNextLTPro-UltLt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./fonts/AvenirNextLTPro-UltLt.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/AvenirNextLTPro-UltLt.woff') format('woff'), /* Modern Browsers */
        url('./fonts/AvenirNextLTPro-UltLt.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./fonts/AvenirNextLTPro-UltLt.svg') format('svg'); /* Legacy iOS */
}

@font-face
{
    font-family: 'AvenirNextLTPro-UltLtIt';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/AvenirNextLTPro-UltLtIt.eot'); /* IE9 Compat Modes */
    src: local('AvenirNextLTPro-UltLtIt'), local('AvenirNextLTPro-UltLtIt'),
        url('./fonts/AvenirNextLTPro-UltLtIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./fonts/AvenirNextLTPro-UltLtIt.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/AvenirNextLTPro-UltLtIt.woff') format('woff'), /* Modern Browsers */
        url('./fonts/AvenirNextLTPro-UltLtIt.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./fonts/AvenirNextLTPro-UltLtIt.svg') format('svg'); /* Legacy iOS */
}




@font-face
{
    font-family: 'AvenirNextLTPro-It';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/AvenirNextLTPro-It.eot'); /* IE9 Compat Modes */
    src: local('AvenirNextLTPro-It'), local('AvenirNextLTPro-It'),
        url('./fonts/AvenirNextLTPro-It.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./fonts/AvenirNextLTPro-It.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/AvenirNextLTPro-It.woff') format('woff'), /* Modern Browsers */
        url('./fonts/AvenirNextLTPro-It.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./fonts/AvenirNextLTPro-It.svg') format('svg'); /* Legacy iOS */
}



@font-face
{
    font-family: 'AvenirNextLTPro-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/AvenirNextLTPro-Regular.eot'); /* IE9 Compat Modes */
    src: local('AvenirNextLTPro-Regular'), local('AvenirNextLTPro-Regular'),
        url('./fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./fonts/AvenirNextLTPro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/AvenirNextLTPro-Regular.woff') format('woff'), /* Modern Browsers */
        url('./fonts/AvenirNextLTPro-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./fonts/AvenirNextLTPro-Regular.svg') format('svg'); /* Legacy iOS */
}


