.navbar
{
    display: flex;
    align-items: center;
    background-color: #333333;
    height: 2.625rem;
    font-family: 'Whitney-Book';
    font-weight: lighter;
}

.navbar :nth-child(5)
{
    font-weight: bold;
    margin: auto;
    letter-spacing: 1.5px;
}

.navbar :nth-child(6)
{
    margin-left: auto;
}

.option a
{
    text-transform: uppercase;
    padding: 0 1rem;
    color: white;
    font-size: 1rem; 
    text-decoration: none;
}